@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");
:root {
  --pink: #e73c7e;
  --orange: #ee7752;
  --green: #23d5ab;
  --blue: #23a6d5;
  --black-text: #333;
  --accent: #e73c7e;
  --link-color: #FFFFE0;
  --base-fs: 1.3em;
  --head-fs: 1.8em;
}

@media screen and (max-width: 1024px) {
  :root {
    --base-fs: 1.3em;
    --head-fs: 1.5em;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #e73c7e;
  outline: none;
  border-radius: 0.5em;
}

::-moz-selection {
  background: #e73c7e;
}

::selection {
  background: #e73c7e;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--link-color);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

a:hover {
  opacity: 0.5;
}

.container {
  max-width: 1440px;
  margin: 50px auto;
}

.main-wrapper {
  position: relative;
  height: auto;
  margin: 0 20px;
  z-index: 1000;
  color: #fff;
  font-size: 16px;
  padding: 3em;
  border: 1px solid #fff;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.main-wrapper:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
          backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}

@media screen and (max-width: 768px) {
  .main-wrapper {
    padding: 1em;
  }
}

.section {
  padding: 2em 0;
}

.section__name {
  font-size: var(--head-fs);
  padding-bottom: 1em;
}

.section__content {
  font-size: var(--base-fs);
  line-height: 2em;
  letter-spacing: 2px;
}

.mark {
  font-weight: 700;
  color: var(--accent);
}

html {
  font: 5vmin/1.3 Serif;
  background: #123;
}

body, head {
  display: block;
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  -webkit-animation: 44s -27s move infinite ease-in-out alternate;
          animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: -0.11426em 0.96226em 7px rgba(0, 255, 101, 0.9), 1.02388em 0.07837em 7px rgba(32, 0, 255, 0.9), 1.64555em -0.44507em 7px rgba(0, 255, 110, 0.9), 1.3047em 1.94306em 7px rgba(0, 255, 148, 0.9), 2.04108em 1.19238em 7px rgba(0, 255, 80, 0.9), 1.52619em 0.00931em 7px rgba(0, 158, 255, 0.9), -0.28646em 0.5442em 7px rgba(105, 0, 255, 0.9), 1.277em 0.8691em 7px rgba(255, 222, 0, 0.9), 2.35943em 0.53314em 7px rgba(41, 0, 255, 0.9), -0.24122em 1.63478em 7px rgba(0, 151, 255, 0.9), -0.47383em 1.62773em 7px rgba(255, 0, 43, 0.9), 0.98726em 2.41871em 7px rgba(0, 255, 15, 0.9), 1.56814em 0.71684em 7px rgba(255, 90, 0, 0.9), 1.73127em 2.4969em 7px rgba(180, 255, 0, 0.9), -0.17588em 0.04242em 7px rgba(142, 0, 255, 0.9), 0.54033em 1.30004em 7px rgba(255, 0, 234, 0.9), -0.19239em 2.08002em 7px rgba(0, 255, 206, 0.9), 1.46361em 1.25975em 7px rgba(255, 0, 41, 0.9), 1.87158em 1.98428em 7px rgba(0, 199, 255, 0.9), 1.52157em 2.38808em 7px rgba(187, 0, 255, 0.9), 0.22264em 2.00772em 7px rgba(0, 109, 255, 0.9), -0.11908em 1.7408em 7px rgba(198, 0, 255, 0.9), 0.72775em 1.03003em 7px rgba(255, 153, 0, 0.9), -0.29422em 1.03315em 7px rgba(0, 247, 255, 0.9), 0.46499em 1.38582em 7px rgba(255, 0, 110, 0.9), 0.38852em 1.82539em 7px rgba(255, 75, 0, 0.9), -0.27218em 2.11207em 7px rgba(0, 255, 196, 0.9), 0.90748em 1.5924em 7px rgba(198, 0, 255, 0.9), 2.15348em 0.18838em 7px rgba(17, 255, 0, 0.9), 1.07443em 0.29841em 7px rgba(56, 0, 255, 0.9), 1.92205em 0.47421em 7px rgba(255, 104, 0, 0.9), -0.19655em -0.48193em 7px rgba(0, 255, 202, 0.9), 0.41068em 2.45945em 7px rgba(128, 255, 0, 0.9), 2.02519em 2.46473em 7px rgba(132, 0, 255, 0.9), -0.28801em 2.34307em 7px rgba(255, 54, 0, 0.9), 0.07583em 2.20914em 7px rgba(255, 91, 0, 0.9), 2.26587em -0.16348em 7px rgba(0, 156, 255, 0.9), -0.26348em 1.65413em 7px rgba(255, 0, 63, 0.9), 2.21296em -0.3899em 7px rgba(255, 5, 0, 0.9), 0.7239em 0.22927em 7px rgba(0, 255, 118, 0.9), 0.72716em 1.78356em 7px rgba(255, 0, 7, 0.9);
  -webkit-animation-duration: 44s;
          animation-duration: 44s;
  -webkit-animation-delay: -27s;
          animation-delay: -27s;
}

body::after {
  text-shadow: 1.64219em 2.44013em 7px rgba(215, 255, 0, 0.9), 2.07282em 0.09754em 7px rgba(0, 150, 255, 0.9), 0.1207em 1.78345em 7px rgba(98, 255, 0, 0.9), -0.07155em 1.14863em 7px rgba(255, 0, 199, 0.9), 1.64069em -0.15188em 7px rgba(0, 255, 187, 0.9), 0.18509em 2.46791em 7px rgba(29, 255, 0, 0.9), 2.11619em 0.83304em 7px rgba(255, 232, 0, 0.9), 1.74373em 0.11158em 7px rgba(255, 0, 90, 0.9), -0.22492em 2.13684em 7px rgba(62, 255, 0, 0.9), 1.04412em 0.51215em 7px rgba(241, 255, 0, 0.9), 1.98689em 1.52328em 7px rgba(0, 255, 126, 0.9), 0.80527em 1.92762em 7px rgba(224, 0, 255, 0.9), 0.27954em -0.00451em 7px rgba(55, 0, 255, 0.9), 1.55321em -0.3337em 7px rgba(0, 255, 32, 0.9), 1.44119em 0.67514em 7px rgba(199, 0, 255, 0.9), 0.52147em 0.2729em 7px rgba(138, 0, 255, 0.9), 0.74475em 2.23791em 7px rgba(99, 255, 0, 0.9), -0.32669em 1.38286em 7px rgba(136, 0, 255, 0.9), 0.421em 0.94737em 7px rgba(153, 0, 255, 0.9), 1.39156em 0.64079em 7px rgba(160, 255, 0, 0.9), 0.40524em 1.88605em 7px rgba(0, 5, 255, 0.9), 1.46195em 2.34502em 7px rgba(0, 255, 54, 0.9), 1.94437em 0.1961em 7px rgba(255, 86, 0, 0.9), -0.18297em 2.39424em 7px rgba(0, 121, 255, 0.9), 1.76881em -0.25154em 7px rgba(0, 26, 255, 0.9), 0.25337em 0.97616em 7px rgba(255, 0, 81, 0.9), -0.2157em 2.15706em 7px rgba(255, 65, 0, 0.9), 2.41912em 1.38682em 7px rgba(255, 12, 0, 0.9), 0.97397em 1.40156em 7px rgba(255, 0, 122, 0.9), 0.21963em 0.16823em 7px rgba(255, 56, 0, 0.9), 1.66746em 1.0868em 7px rgba(255, 0, 115, 0.9), -0.44083em 2.42205em 7px rgba(0, 223, 255, 0.9), 1.43388em 0.03325em 7px rgba(78, 0, 255, 0.9), -0.2382em 1.50016em 7px rgba(105, 255, 0, 0.9), 2.04263em 2.29017em 7px rgba(0, 142, 255, 0.9), 1.27723em 1.87491em 7px rgba(255, 0, 151, 0.9), -0.07406em 0.72375em 7px rgba(255, 73, 0, 0.9), 0.05048em 0.22408em 7px rgba(215, 255, 0, 0.9), 1.02706em 1.81115em 7px rgba(0, 255, 211, 0.9), 1.95935em 0.93105em 7px rgba(248, 0, 255, 0.9), 2.48193em -0.06593em 7px rgba(0, 78, 255, 0.9);
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -32s;
          animation-delay: -32s;
}

head::before {
  text-shadow: 2.02039em -0.37912em 7px rgba(143, 255, 0, 0.9), 2.00841em 1.36964em 7px rgba(0, 255, 237, 0.9), -0.16724em 1.78697em 7px rgba(158, 255, 0, 0.9), 1.8775em 1.0088em 7px rgba(0, 10, 255, 0.9), 0.10238em -0.42301em 7px rgba(0, 255, 44, 0.9), -0.19286em 1.58911em 7px rgba(50, 255, 0, 0.9), 0.74903em 1.30689em 7px rgba(255, 0, 94, 0.9), 2.3254em 2.124em 7px rgba(202, 0, 255, 0.9), 2.49133em 2.1332em 7px rgba(0, 56, 255, 0.9), -0.04463em 0.05697em 7px rgba(0, 255, 197, 0.9), 2.41743em -0.41853em 7px rgba(0, 255, 47, 0.9), 2.4423em 2.3851em 7px rgba(153, 255, 0, 0.9), -0.20256em 0.52929em 7px rgba(255, 42, 0, 0.9), -0.07305em 1.3803em 7px rgba(255, 0, 0, 0.9), 0.24769em -0.37437em 7px rgba(80, 0, 255, 0.9), 0.08625em 1.06116em 7px rgba(92, 255, 0, 0.9), -0.43917em 1.5184em 7px rgba(255, 31, 0, 0.9), 0.29744em 1.45282em 7px rgba(0, 255, 63, 0.9), -0.35548em 2.49075em 7px rgba(13, 0, 255, 0.9), 0.13788em 2.2025em 7px rgba(0, 255, 4, 0.9), 0.77209em -0.46491em 7px rgba(0, 255, 41, 0.9), 1.10144em 0.78793em 7px rgba(0, 184, 255, 0.9), 1.93214em 1.65102em 7px rgba(175, 0, 255, 0.9), 0.21818em -0.23959em 7px rgba(255, 23, 0, 0.9), 1.4978em 1.675em 7px rgba(0, 255, 68, 0.9), 1.0725em 2.38868em 7px rgba(0, 255, 39, 0.9), -0.21119em -0.34662em 7px rgba(206, 255, 0, 0.9), -0.4787em 1.82437em 7px rgba(229, 255, 0, 0.9), 0.55174em 0.55876em 7px rgba(255, 230, 0, 0.9), 1.10822em 0.88731em 7px rgba(255, 0, 52, 0.9), 0.26171em 1.12037em 7px rgba(255, 255, 0, 0.9), 1.54239em 1.21273em 7px rgba(143, 0, 255, 0.9), 0.06039em 0.66912em 7px rgba(241, 255, 0, 0.9), -0.22963em 1.92395em 7px rgba(0, 255, 63, 0.9), 0.85823em -0.43524em 7px rgba(255, 0, 146, 0.9), 0.70048em 0.95262em 7px rgba(228, 0, 255, 0.9), -0.39922em 0.66269em 7px rgba(240, 255, 0, 0.9), -0.20128em 1.49817em 7px rgba(0, 255, 124, 0.9), 1.18512em -0.20932em 7px rgba(255, 143, 0, 0.9), 2.31602em 1.18758em 7px rgba(255, 0, 153, 0.9), 0.93665em -0.03762em 7px rgba(139, 255, 0, 0.9);
  -webkit-animation-duration: 42s;
          animation-duration: 42s;
  -webkit-animation-delay: -23s;
          animation-delay: -23s;
}

head::after {
  text-shadow: 1.98532em -0.4936em 7px rgba(0, 161, 255, 0.9), 2.33695em 1.01447em 7px rgba(180, 255, 0, 0.9), 1.74782em 1.92052em 7px rgba(0, 255, 81, 0.9), 0.41271em -0.42016em 7px rgba(255, 0, 79, 0.9), 0.96594em 0.97155em 7px rgba(255, 104, 0, 0.9), 1.96618em 1.22477em 7px rgba(255, 0, 163, 0.9), 0.60675em 0.56178em 7px rgba(0, 255, 84, 0.9), 1.21975em -0.47455em 7px rgba(142, 255, 0, 0.9), -0.27022em 1.2885em 7px rgba(0, 192, 255, 0.9), 1.01754em 1.21108em 7px rgba(0, 255, 167, 0.9), 1.89705em -0.02737em 7px rgba(255, 116, 0, 0.9), 2.1249em -0.08013em 7px rgba(255, 0, 239, 0.9), 0.30721em 2.21135em 7px rgba(50, 0, 255, 0.9), 2.17332em 0.14012em 7px rgba(255, 0, 231, 0.9), 0.26337em 0.80349em 7px rgba(255, 0, 176, 0.9), 1.61255em 0.28088em 7px rgba(61, 255, 0, 0.9), 0.10559em 2.37975em 7px rgba(0, 94, 255, 0.9), -0.12093em -0.07237em 7px rgba(0, 158, 255, 0.9), 2.18058em 0.39146em 7px rgba(0, 255, 77, 0.9), 1.11359em 0.71073em 7px rgba(255, 0, 101, 0.9), 1.71038em 0.98941em 7px rgba(0, 255, 243, 0.9), 1.12305em 0.38139em 7px rgba(101, 0, 255, 0.9), 0.84694em 0.36188em 7px rgba(0, 114, 255, 0.9), -0.34928em 0.96589em 7px rgba(197, 0, 255, 0.9), -0.45165em 1.79824em 7px rgba(255, 11, 0, 0.9), -0.06481em 1.63487em 7px rgba(166, 0, 255, 0.9), 2.29145em 0.92628em 7px rgba(209, 0, 255, 0.9), 0.87283em 1.05082em 7px rgba(0, 166, 255, 0.9), -0.26277em 1.68905em 7px rgba(0, 255, 5, 0.9), 1.03578em 1.58582em 7px rgba(153, 0, 255, 0.9), 0.04985em -0.03727em 7px rgba(91, 255, 0, 0.9), 1.73999em 0.587em 7px rgba(255, 3, 0, 0.9), 1.27183em 1.53836em 7px rgba(0, 255, 31, 0.9), 0.18374em 1.30255em 7px rgba(109, 0, 255, 0.9), 0.96048em 0.39077em 7px rgba(255, 0, 171, 0.9), 1.65609em 0.67805em 7px rgba(0, 58, 255, 0.9), 2.49806em 0.26583em 7px rgba(0, 255, 92, 0.9), 1.19262em 0.31715em 7px rgba(0, 255, 14, 0.9), 1.58886em 0.21429em 7px rgba(255, 32, 0, 0.9), 2.20993em 2.17472em 7px rgba(83, 0, 255, 0.9), 0.15133em -0.04278em 7px rgba(203, 255, 0, 0.9);
  -webkit-animation-duration: 41s;
          animation-duration: 41s;
  -webkit-animation-delay: -19s;
          animation-delay: -19s;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: rotate(0deg) scale(12) translateX(-20px);
            transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    -webkit-transform: rotate(360deg) scale(18) translateX(20px);
            transform: rotate(360deg) scale(18) translateX(20px);
  }
}

@keyframes move {
  from {
    -webkit-transform: rotate(0deg) scale(12) translateX(-20px);
            transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    -webkit-transform: rotate(360deg) scale(18) translateX(20px);
            transform: rotate(360deg) scale(18) translateX(20px);
  }
}

.header {
  margin-bottom: 2em;
}

.header__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #fff;
}

.header__nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
  font-size: 1.5em;
}

.header__nav .nav__list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

@media screen and (max-width: 1024px) {
  .header__nav .nav__list {
    top: -1000%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__nav .nav__list.opened {
  top: 5em;
  z-index: 1;
  gap: 1em 0;
  padding: 2em;
  border-radius: 20px;
  background-color: rgba(17, 34, 51, 0.712);
}

.header__nav .nav__link {
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #fff;
}

.header__nav .nav__link:hover {
  opacity: 1;
  color: var(--link-color);
}

.header__nav .nav__menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5em;
  height: 5em;
  border: 1px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  background-color: transparent;
}

.header__nav .nav__menu .bar1,
.header__nav .nav__menu .bar2,
.header__nav .nav__menu .bar3 {
  width: 40px;
  height: 4px;
  margin: 3px 0;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__nav .nav__menu:hover .bar {
  background-color: var(--accent);
}

@media screen and (max-width: 1024px) {
  .header__nav .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.opened .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.opened .bar2 {
  opacity: 0;
}

.opened .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -6px);
          transform: rotate(45deg) translate(-8px, -6px);
}

.main {
  padding: 3em 0;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

@media screen and (max-width: 1024px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__img {
  -webkit-box-flex: 250px;
      -ms-flex: 250px 0 0px;
          flex: 250px 0 0;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.about__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-edu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}

.work__project + .work__project {
  margin-top: 2em;
}

.education {
  -webkit-box-flex: 500px;
      -ms-flex: 500px;
          flex: 500px;
}

.projects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}

.projects .project {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  height: 400px;
  border: 1px solid #fff;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.projects .project img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.projects .project a {
  width: 100%;
  height: 100%;
}

.projects .project a:hover {
  opacity: 1;
}

.projects .project .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  background-color: rgba(17, 34, 51, 0.712);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.projects .project__title {
  position: absolute;
  top: 46%;
  left: 10px;
  z-index: 5;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.projects .project:hover .project__title {
  opacity: 1;
}

.projects .project:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.projects .project:hover .overlay {
  opacity: 1;
}

.code code {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  padding: 0;
}

.video__content {
  width: 100%;
  height: 300px;
  border: 1px solid #fff;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.video iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}

.contacts p {
  word-wrap: break-word;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
