.aside {
  flex: 1 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  // height: 50%;
  min-width: 335px;
  background: radial-gradient(
    100% 249.45% at 0% 2.78%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 2px solid rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(22px);
  border-radius: 33px;

  @media screen and (max-width: 462px) {
    min-width: unset;
    padding: 1em;
  }
}

.avatar {
  &__wrapper {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
    border: 10px solid rgba(255, 255, 255, 0.733);

    @media screen and (max-width: 462px) {
      width: 200px;
      height: 200px;
      border: 5px solid rgba(255, 255, 255, 0.733);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  figcaption {
    font-size: var(--base-fs);
    padding: 1em;
    text-align: center;
  }
}

.skills__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.5em 1em;
  width: 100%;
}

.skills__item {
  flex: 1 1 40%;
  display: flex;
  align-items: center;
  gap: 0 20px;

  @media screen and (max-width: 1024px) {
    flex-basis: 20%;
    gap: 0 10px;
  }
}

.skill {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.html-skill {
  background-image: url('../icons/html.svg');
}

.css-skill {
  background-image: url('../icons/css.svg');
}

.sass-skill {
  background-image: url('../icons/sass.svg');
}

.js-skill {
  background-image: url('../icons/javascript.svg');
}

.vue-skill {
  background-image: url('../icons/vue.svg');
}

.vuet-skill {
  background-image: url('../icons/vuetify.svg');
}

.nuxt-skill {
  background-image: url('../icons/nuxt.svg');
}

.tail-skill {
  background-image: url('../icons/tailwind.svg');
}

.fig-skill {
  background-image: url('../icons/figma.svg');
}

.photo-skill {
  background-image: url('../icons/photoshop.svg');
}

.contacts {
  &__link {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 18px;

    @media screen and (max-width: 1024px) {
     font-size: 16px;
    }

    @media screen and (max-width: 462px) {
      word-break: break-all;
    }
  }

  .img {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (max-width: 1024px) {
      height: 40px;
      width: 40px;
    }
  }

  .discord {
    background-image: url('../icons/discord.png');
  }

  .email {
    background-image: url('../icons/email.png');
  }

  .telegram {
    background-image: url('../icons/telegram.png');
  }

  .github {
    background-image: url('../icons/github.png');
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em 0;

    @media screen and (max-width: 1024px) {
      justify-content: space-evenly;
    }
  }
}

.english {
  width: 100%;
}
