@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

:root {
  --pink: #e73c7e;
  --orange: #ee7752;
  --green: #23d5ab;
  --blue: #23a6d5;
  --black-text: #333;
  --base-fs: 1.5em;
  --head-fs: 1.6em;
}

@media screen and (max-width: 1024px) {
  :root {
    --base-fs: 1.3em;
  --head-fs: 1.5em;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 1em;
  background-color: transparent;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #e73c7e;
  outline: none;
  border-radius: .5em;
}

::selection {
  background: #e73c7e;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1440px;
  margin: 10em auto;
}

.main-wrapper {
  position: relative;
  height: auto;
  margin: 0 1em;
  padding: 3em;
	border: 1px solid #fff;
	border-radius: 0.5em;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		content: '';
		z-index: -1;
		background-color: rgba(255, 255, 255, 0.3);
		backdrop-filter: blur(10px) saturate(100%) contrast(45%)
			brightness(130%);
	}
}

.section {
  padding: 2em 0;

  &__name {
    font-size: var(--base-fs);
    padding-bottom: 1em;
    text-align: center;
  }

  &__content {
    font-size: var(--base-fs);
  }
}

.mark-pink {
  color: var(--pink);
}

.mark-orange {
  color: var(--orange);
}