@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

:root {
  --pink: #e73c7e;
  --orange: #ee7752;
  --green: #23d5ab;
  --blue: #23a6d5;
  --black-text: #333;
  --accent: #e73c7e;
  --link-color: #ffffe0;
  --base-fs: 1.3em;
  --head-fs: 1.8em;
}

@media screen and (max-width: 1024px) {
  :root {
    --base-fs: 1.3em;
    --head-fs: 1.5em;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #e73c7e;
  outline: none;
  border-radius: 0.5em;
}

::selection {
  background: #e73c7e;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: 0.1s ease;

  &:hover {
    opacity: 0.5;
  }
}

.container {
  max-width: 1440px;
  margin: 50px auto;
  border: 30px solid rgba(255, 255, 255, 0.24);
  border-radius: 30px;
  z-index: 1000;
}

.main-wrapper {
  position: relative;
  height: auto;
  z-index: 1000;
  color: #fff;
  font-size: 16px;
  padding: 3em;
  overflow: hidden;
  background: radial-gradient(
    100% 249.45% at 0% 2.78%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(30px);
  @media screen and (max-width: 768px) {
    padding: 1em;
  }
}

.section {
  padding: 2em 0;

  &__name {
    font-size: var(--head-fs);
    padding-bottom: 1em;
  }

  &__content {
    font-size: var(--base-fs);
    line-height: 2em;
    letter-spacing: 2px;
  }
}

.mark {
  font-weight: 700;
  color: var(--accent);
}
