.main {
  padding: 3em 0;
}

.about {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__img {
    flex: 250px 0 0;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
    border: 10px solid rgba(255, 255, 255, 0.24);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.work-edu {
  display: flex;
  gap: 0 2em;
  flex-wrap: wrap;
}

.work {
  flex: 1 1 400px;
  &__project + &__project {
    margin-top: 2em;
  }
}

.education {
  flex: 500px;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em 4em;
}

.skills__item {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.skill {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.html-skill {
  background-image: url('../icons/html.svg');
}

.css-skill {
  background-image: url('../icons/css.svg');
}

.sass-skill {
  background-image: url('../icons/sass.svg');
}

.js-skill {
  background-image: url('../icons/javascript.svg');
}

.vue-skill {
  background-image: url('../icons/vue.svg');
}

.vuet-skill {
  background-image: url('../icons/vuetify.svg');
}

.nuxt-skill {
  background-image: url('../icons/nuxt.svg');
}

.tail-skill {
  background-image: url('../icons/tailwind.svg');
}

.fig-skill {
  background-image: url('../icons/figma.svg');
}

.photo-skill {
  background-image: url('../icons/photoshop.svg');
}

.projects {
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
  }

  .project {
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    gap: 1em 0;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    border: 10px solid rgba(255, 255, 255, 0.24);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.3);

    &__img {
      border-radius: 20px;
      height: 60%;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      color: var(--accent);
    }

    &__desc {
      font-weight: 700;
    }

    &__tech {
      color: var(--text);

      li {
        display: inline;
        padding: 5px;
        border-radius: 10px;
        font-size: 15px;
        background: rgba(255, 255, 255, 0.562);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      transition: 0.7s ease;

      &:hover {
        transform: scale(1.2);
      }
    }

    a {
      display: block;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.code code {
  background-color: transparent;
  border-radius: 0.5em;
  border: 10px solid rgba(255, 255, 255, 0.24);

  @media screen and (max-width: 1024px) {
    white-space: pre-line;
    word-break: break-all;
  }
}

.hljs-keyword,
.hljs {
  color: var(--link-color);
}

.hljs-number {
  color: rgb(252, 63, 195);
}

.hljs-params {
  color: rgb(1, 167, 56);
}

.hljs-deletion,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  color: var(--accent);
}

.hljs-section,
.hljs-title {
  color: var(--accent);
}

.video {
  &__content {
    width: 100%;
    height: 300px;
    border-radius: 0.5em;
    border: 10px solid rgba(255, 255, 255, 0.24);
  }

  iframe {
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    border: none;
  }
}

.contacts {
  &__link {
    display: block;
    height: 70px;
    line-height: 70px;
    padding-left: 80px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .discord {
    background-image: url('../icons/discord.png');
  }

  .email {
    background-image: url('../icons/email.png');
  }

  .telegram {
    background-image: url('../icons/telegram.png');
  }

  .github {
    background-image: url('../icons/github.png');
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em 0;
    @media screen and (max-width: 1024px) {
      justify-content: space-evenly;
    }
  }

  p {
    word-wrap: break-word;
  }
}
